site_name: BangDream
site_url: https://bangdream.tano.asia/
site_description: 重庆大学资源共享计划（CQU-openlib）

repo_url: https://github.com/AhsokaTano26/BanGDream-lib
repo_name: BanGDream-lib

copyright: Copyright &copy; 2024 - 2025 AhsokaTano26
nav:
  - Home: index.md
  - About: about.md
  - Live/Event: events/index.md

theme:
  name: material
  features:
    - navigation.tabs
    - search.suggest
    - content.code.annotate
  palette:
    - scheme: default
      primary: indigo
      accent: pink
      toggle:
          icon: material/toggle-switch-off-outline
          name: 切换到深色模式
    - scheme: slate
      primary: indigo
      accent: pink
      toggle:
          icon: material/toggle-switch
          name: 切换到浅色模式
  language: zh

markdown_extensions:
  - meta
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences # 支持自定义容器 (Grids)

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/AhsokaTano26/BanGDream-lib
      name: GitHub 仓库
    - icon: fontawesome/brands/bilibili
      link: https://www.bilibili.com/
      name: Bilibili 官方
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/bang_dream_gbp
      name: 官方 Twitter